/* Global CSS */

:root {
    /* Variables */
    --header-bg: #FFFCF5;
    --primary-color: #3936C4;
    --heading-color: #21202A;
    --gray6a: #6A6E78;
    --gray54: #545360;
    --grayb5: #B5BAC6;
    --white-color: #FFFFFF;
}

body {
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    /* max-width: 1440px; */
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.heading {
    color: var(--heading-color);
}

.heading-white {
    color: var(--white-color);
}

.heading-large {
    font-size: 70px;
    line-height: calc(80 / 70);
}

.heading-medium {
    font-size: 42px;
    line-height: calc(52 / 42);
}

.heading-normal {
    font-size: 32px;
    line-height: calc(48 / 32);
}

.heading-small {
    font-size: 24px;
    line-height: calc(34 / 24);
}

.text {
    color: var(--gray54);
    line-height: calc(28 / 16);
}

.mgb180 {
    margin-bottom: 180px;
}

.btn {
    border: none;
    transition: all 0.2s linear;
    cursor: pointer;
    text-decoration: none;
}

.btn-white-pri {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn-white-pri:hover {
    background-color: var(--heading-color);
    color: var(--white-color);
}

.btn-white-black {
    background-color: var(--heading-color);
    color: var(--white-color);
}

.btn-white-black:hover,
.header-buttons a:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.section-header-text {
    text-align: center;
    max-width: 570px;
    margin: 0 auto 70px;
    padding: 0 50px;
}

.section-heading {
    margin-bottom: 18px;
}


/* Global CSS End */


/* Header Start */

.header {
    background-color: var(--header-bg);
    padding: 28px 0 40px;
    position: relative;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.header-navigation .logo a {
    display: flex;
    align-items: center;
    gap: 0 6px;
    text-decoration: none;
}

.header-navigation .logo .logo-title {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(30/20);
}

.header-menu .menu {
    display: flex;
    gap: 0 42px;
}

.header-menu .menu .menu-link,
.footer-menu .footer-menu-link {
    text-decoration: none;
    color: var(--gray6a);
    line-height: calc(28 / 16);
    transition: all 0.2s linear;
    font-weight: 600;
    position: relative;
    padding: 5px 0;
    display: inline-block;
}

.header-menu .menu .menu-link::before,
.how-it-works-link::before,
.footer-menu .footer-menu-link::before {
    content: "";
    position: absolute;
    bottom: 2px;
    background-color: var(--primary-color);
    height: 2px;
    transition: all 0.2s ease-in;
    width: 0;
}

.header-menu .menu .menu-link:hover,
.how-it-works-link:hover,
.footer-menu .footer-menu-link:hover {
    color: var(--primary-color);
}

.header-menu .menu .menu-link:hover::before,
.how-it-works-link:hover:before,
.footer-menu .footer-menu-link:hover::before {
    width: 100%;
}

.header-buttons a {
    padding: 13px 30px;
    color: var(--heading-color);
    font-weight: 600;
    border-radius: 6px;
}

.header-buttons .header-signup {
    border: 1.2px solid #E1E5E8;
}

.list-icon {
    display: none;
}

.header-banner {
    display: flex;
    align-items: center;
    position: relative;
}

.header-banner-text {
    max-width: 504px;
    flex-shrink: 0;
}

.header-banner-desc {
    font-size: 18px;
    line-height: calc(30 / 18);
    margin: 28px 0 48px;
}

#form-banner {
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    box-shadow: 0px 16px 52px rgba(33, 32, 42, 0.08);
    border-radius: 12px;
    width: fit-content;
    overflow: hidden;
}

#form-banner .form-group {
    padding: 18px 0 18px 18px;
    color: #AEADBD;
}

#form-banner .form-group .form-control {
    border: none;
    outline: none;
    margin-left: 12px;
    color: inherit;
}

#form-banner button {
    padding: 18px 32px;
    font-weight: 500;
}


/* Header End */


/* Logos Start */

.logos {
    margin-top: 100px;
    text-align: center;
}

.logos-heading {
    margin-bottom: 38px;
}

.logos-list {
    max-width: 837px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


/* Logos End */


/* How It Works Start */

.how-it-works-list {
    display: flex;
    gap: 0 30px;
}

.how-it-works-item {
    border: 1px solid #E4E4ED;
    border-radius: 12px;
    padding: 38px 28px;
    transition: all 0.2s linear;
    cursor: pointer;
    position: relative;
    top: 0;
    transition: all 0.2s linear;
}

.how-it-works-item:hover,
.jobs-item:hover,
.testimonial-item:hover {
    border-color: var(--white-color);
    box-shadow: 0px 16px 52px rgba(33, 32, 42, 0.08);
    top: -2px;
}

.how-it-works-item .icon {
    margin-bottom: 36px;
}

.how-it-work-desc {
    margin: 18px 0;
}

.how-it-works-link {
    color: var(--heading-color);
    text-decoration: none;
    font-weight: 600;
    position: relative;
    padding: 5px 0;
}


/* How It Works End */


/* Feature Start */

.feature-content {
    max-width: 470px;
}

.feature .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feature-list {
    margin: 28px 0 38px;
}

.feature-item {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.feature-item .check-icon {
    color: #8A5CD7;
}

.feature-desc {
    color: var(--heading-color);
    position: relative;
    left: 0;
    transition: all 0.2s linear;
}

.feature-desc:hover {
    color: #8A5CD7;
    left: 2px;
    cursor: pointer;
}

.feature .started-btn {
    padding: 15px 33px;
    border-radius: 8px;
}


/* Feature End */


/* Jobs Start */

.jobs-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 42px 30px;
}

.jobs-item {
    padding: 44px 22px;
    border: 1px solid #E2E2EB;
    border-radius: 18px;
    position: relative;
    top: 0;
    transition: all 0.2s linear;
    cursor: pointer;
    /* background-color: var(--white-color); */
}

.job-title a {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s linear;
}

.job-title a:hover {
    color: var(--primary-color);
}

.tags {
    display: flex;
    align-items: center;
    gap: 0 28px;
    margin: 22px 0 55px;
    line-height: calc(28 / 16);
}

.tags .address {
    display: flex;
    align-items: center;
    gap: 0 6px;
}

.tags .address span {
    color: var(--gray54);
}

.tags .job-type {
    color: #FF8100;
    padding: 4px 10px;
    background-color: #FFF8F0;
    border-radius: 6px;
}

.job-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.job-info .factory {
    display: flex;
    align-items: center;
    gap: 0 22px;
}

.factory-info span {
    display: block;
}

.factory-info .factory-name {
    color: var(--heading-color);
    font-weight: 600;
}

.factory-info .last-time {
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--gray54);
}

.job-info .apply-btn {
    padding: 4px 22px;
    border-radius: 6px;
    font-size: inherit;
    line-height: inherit;
}

.jobs .show-more {
    padding: 15px 35px;
    border-radius: 8px;
    margin: 55px auto 0;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


/* Jobs End */


/* Testimonial Start */

.testimonial .section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.testimonial .section-header .section-header-text {
    margin: 0;
    padding: 0;
    max-width: 470px;
    text-align: left;
}

.testimonial-show-all {
    padding: 15px 34px;
    border-radius: 8px;
    font-size: 18px;
    line-height: calc(30 / 18);
}

.testimonial-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0 30px;
    margin-bottom: 48px;
}

.testimonial-item {
    border: 1px solid #E2E2EB;
    border-radius: 12px;
    transition: all 0.2s linear;
    position: relative;
    top: 0;
    cursor: pointer;
    padding: 44px 22px;
}

.testimonial-item .rating i {
    color: #FF8100;
}

.testimonial-desc {
    margin: 22px 0 44px;
}

.testimonial-author span {
    display: block;
}

.testimonial-author .author-name {
    color: var(--heading-color);
    font-weight: 600;
    font-size: 18px;
    line-height: calc(30 / 18);
}

.testimonial-author .author-pos {
    font-size: 14px;
    font-weight: 400;
    line-height: calc(24 / 14);
}

.testimonial-dots {
    display: flex;
    gap: 0 4px;
    justify-content: center;
}

.testimonial-dots .dot-item {
    height: 5px;
    width: 22px;
    background-color: var(--gray54);
    border-radius: 5px;
}

.testimonial-dots .dot-item.active {
    background-color: var(--primary-color)
}


/* Testimonial End */


/* Banner 2 Start */

.banner-2-container {
    padding: 100px 56px;
    background-color: var(--primary-color);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-2-heading {
    max-width: 600px;
}

.banner-2 .upload-btn {
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 15px 24px;
    border-radius: 6px;
    font-size: 18px;
    line-height: calc(30 / 18);
    font-weight: 600;
}

.banner-2 .upload-btn:hover {
    background-color: var(--heading-color);
    color: var(--white-color);
}


/* Banner 2 End */


/* Footer Start */

.footer {
    background-color: var(--heading-color);
    padding-top: 150px;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
}

.footer-top {
    padding: 48px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3E3C50;
}

.footer-heading {
    max-width: 570px;
}

.footer-heading span {
    text-decoration: underline;
}

.footer-top-link {
    border-radius: 6px;
    padding: 22px 34px;
    display: flex;
    align-items: center;
    gap: 0 10px;
    font-weight: 600;
}

.footer-top-link:hover {
    color: var(--primary-color);
    background-color: var(--white-color);
}

.footer-menu {
    padding: 48px 0;
    display: flex;
    justify-content: flex-end;
    gap: 0 42px;
}

.footer-menu-link {
    color: var(--grayb5);
}


/* Footer End */